.terraform/
terraform.*
.terraform.*
.terraform.*.*
env*
*.txt
*.pub
*.zip
wls-wdt*
ssh*
certificates/*
git-init.sh
keys/*
config/*
wls-*.*
create_analytic_users.sh
upload_files.sh
!terraform.tfvars
tf-tests/*
ansible.log
*.log
*.tar

console-zdm-ssh-key-2021-03-04.key 
*.key
del_assoc.json
test_updates.json
compute_nodes_provisioning/config/*.json